{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<h1>{{ article.title }} ({{ article.isPublished ? 'Publié' : 'Brouillon' }})</h1>

{{ dump(article) }}

<a href="{{ path('articles')}}">Retour aux articles</a>
<a href="{{ path('article_edit', {'slug': article.slug}) }}">Modifier</a>

<a href="{{ path('article_publish', { 'slug': article.slug }) }}?s=publish">{{ article.isPublished ? 'Brouillon' : 'Publier'  }}</a>
<a href="{{ path('article_archive', { 'slug': article.slug }) }}?s=archive">{{ article.isArchived ? 'Désarchiver' : 'Archiver'  }}</a>
<form action="{{ path('article_delete' , {'slug': article.slug}) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token('article_delete') }}">
    <button type="submit">Supprimer</button>
</form>

{% endblock %}